<p><center><h1>Congratulations!<br> You've been set up with <%= @hookup.person_b.name %></h1></center></p>
<br />
<p><h2> About them: <br /><%= @hookup.person_b.aboutme %></h2></p><br />

<p> The way it works is as follows. Use <%= link_to 'this link', @hookup.url %> below to help set up a time and email them at <%= @hookup.person_b.email %> to work out the details.</p>
