<script language="javascript">
	$(function(){
		$("#btn_help").click(function(){
			$("#txt_help").css("visibility","visible");
			$("#btn_help").remove();
		})
		
	});
	
</script>
<section id="masthead">
	<div id="masthead_container">
		<div id="info">
			<h1>Bored? Thirsty?</h1>
			<h2>
				Find Love.
			</h2>
			<%= link_to 'Hookup Now!', new_hookup_path, :class=>'btn btn-primary' %><br>
			<input id="btn_help" type="button" class="btn" value="Help" style="font-size:small; height:auto;"></input>
			<div id="txt_help" class="alert fade in" style="visibility:hidden;">
				<button class="close" data-dismiss="alert" type="button">x</button>
				<strong>You need some serious help there if you can't click a single button!</strong>
			</div>
		</div>
	</div>
</section>
