<script language="javascript">
	$(document).ready(function() {
$("#footer").pinFooter();
});

$(window).resize(function() {
$("#footer").pinFooter();
});

$(function() {
$("#btn_submit").click(function() {<% if !current_person %>
	$.ajax({
		type : "GET",
		url : "/people/new", // see the code below
		error : function(xhr, status, ex) {
			// handling with 'xhr', 'status' and 'ex' variables
		},
		success : function(data) {
			$('<div id="popup" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px; width:1000px;" class="container popup">').append(data).append('</div>').insertAfter('#info');
			$('#popup').bPopup();

			// handling with 'xhr', 'status' and 'ex' variables
		}
	}); 
<% else %>
	$.ajax({
		type : "GET",
		url : "/hookups/new", // see the code below
		error : function(xhr, status, ex) {
			// handling with 'xhr', 'status' and 'ex' variables
		},
		success : function(data) {
			$('<div id="popup" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px; width:1000px;" class="container popup">').append(data).append('</div>').insertAfter('#info');
			$('#popup').bPopup();

			// handling with 'xhr', 'status' and 'ex' variables
		}
	}); 
//window.location.href = "/hookups/new";
<%end%>
	})
	});

</script>

<script language="javascript">
	$(function() {

		$("#new_person").live('submit', function(e) {
			e.preventDefault();
			var body = $(this).serialize();
			
			$.post(this.action, body, function(data) {
				var par = $("#new_form").parent().html($('<div id="new_form">').append(data));
				//$("#new_person").remove();
				//par.append(data);
			});

		});

	}); 
</script>

<script language='javascript'>
  $(document).ready(function() {
  
  	$('#hookup_person_b_id').live("change",function(){
  		//alert($('#hookup_person_b_id option:selected').value());
  	$.ajax({
		type : "POST",
		data: {'id':parseInt($('#hookup_person_b_id option:selected').val())},
		url : "/hookups/get_about", // see the code below
		error : function(xhr, status, ex) {
			// handling with 'xhr', 'status' and 'ex' variables
		},
		success : function(data) {
			$('#about').html(data);
		}
	}); 
  	
  	});
  
  
  });
  </script>


<section id="masthead">
	<div id="masthead_container">
		<div id="info">
			<h1>Bored? Thirsty?</h1>
			<h2> Penn Coffee Dates. </h2>
			<input id="btn_submit" type="button" class ="btn btn-primary" value="Find a Date!"  >
			<br>
		</div>
	</div>
</section>
