<section id="masthead">
	<div id="masthead_container">
		<div id="info">
			<h1>Bored? Thirsty?</h1>
			<h2>
				Find Love.
			</h2>
			<%= link_to 'Hookup Now!', new_hookup_path, :class=>'btn btn-primary' %>
		</div>
	</div>
</section>
