<%= javascript_include_tag "/assets/welcome/welcome"%>

<script language="javascript">
	
$(function() {
$("#btn_submit").click(function() {<% if !current_person %>
	$('#choice').bPopup();
<% else %>
		$.ajax({
		type : "GET",
		url : "/hookups/new", // see the code below
		error : function(xhr, status, ex) {

		},
		success : function(data) {
			$('<div id="new_popup" class="container popup">').append(data).append('</div>').insertAfter('#info');
			$('#new_popup').bPopup();

		}
	}); 
	
<%end%>
	})
	
	
	
$("#btn_new").click(function(){
	$("#choice").bPopup().close();
	$.ajax({
		type : "GET",
		url : "/people/new", // see the code below
		error : function(xhr, status, ex) {

		},
		success : function(data) {
			$('<div id="popup" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px; width:1000px;" class="container popup">').append(data).append('</div>').insertAfter('#info');
			$('#popup').bPopup();

		}
	}); 
	
})


$("#btn_signin").click(function(){
window.location = "/people/sign_in";
});

	
	});

</script>


<section id="masthead">
	<div id="masthead_container">
		<div id="info">
			<h1>Bored? Thirsty?</h1>
			<h2> Penn Coffee Dates. </h2>
			<input id="btn_submit" type="button" class ="btn btn-primary" value="Find a Date!"  >
			<br>
		</div>
	</div>
</section>

<div id="choice" class="container popup">
	<input id="btn_signin" type="button" class ="btn btn-info" value="Sign In">
	<input id="btn_new" type="button" class ="btn btn-info" value="Sign Up" >
</div>
