// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 //*= require bootstrap

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
padding-top: 30px;
background-color:#000;
  
}

#masthead{
background-image:url("love.png");
background-size: 100%;
background-repeat: no-repeat;
min-width: 960px;
width: 100%;
   min-height:750px;
   position:relative;

margin: 0px;
overflow: auto;
}

#masthead_container {
  position: relative;
  width: 960px;
  margin: 0px;

}
  
#info {

  color: white;
  width: 630px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.6);
  text-align: left;
  position:relative;
  left: 50px;
  top: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 0.7);
  -moz-box-shadow: 0 0 20px #141414;
  -webkit-box-shadow: 0 0 20px #141414;
  box-shadow: 0 0 20px #141414; 
  margin-bottom: 105px;
  }
  #info h1 {
    font-size: 6em;
    line-height: 80px; }
  #info h2 {
    margin-top: 0.5em;
    font-size: 5em;
    line-height: 18px;
    font-weight: normal; }
  #info h3 {
    font-weight: lighter;
    margin-top: 1em; }
  #info h4 {
    margin-top: 0.5em;
    font-weight: lighter; }
    #info h4 a {
      text-decoration: underline; }
  #info .btn {
    margin: 2em 0;
    border: 1px solid #5e5e5e;
    padding: 15px;
    height: 20px;
    width: 210px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px; }
    

footer {
   position:absolute;
  bottom:0;
   width: 100%;
  background: #454545;
  padding-left: 0px;
  padding-right: 0px;
  clear: both;
  -webkit-box-shadow: inset 7px 7px 15px -5px #202020;
  -moz-box-shadow: inset 7px 7px 15px -5px #202020;
  box-shadow: inset 7px 7px 15px -5px #202020;
  height:105px
}


footer #tag {
   color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
}
